[submodule "makefiles"]
	path = makefiles
	url = https://github.com/dbosk/makefiles.git
[submodule "bibedu"]
	path = bibedu
	url = https://github.com/dbosk/bibedu.git
[submodule "bibsp"]
	path = bibsp
	url = https://github.com/dbosk/bibsp.git
